*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #441B02;
}

section{
    margin: auto 10%;
}

section#home{
    
    height: calc(100% - 65px);
}

section#why{
    
    height: calc(70% - 65px);
}